<div class="row mb-3">
  <div class="col d-flex justify-content-center">
    <%= link_to 'Discover Top Rated Movies', movies_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row m-3">
  <div class="col d-flex justify-content-center">
    <%= form_with(url: movies_path, method: "get", local: true) do |f| %>
    <div>
      <%= f.text_field :search, placeholder: 'search' %>
      <%= f.submit 'Find Movies' %>
    </div>
    <% end %>
  </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
  <div class="col-lg-4">
    <table class="table">
      <tr>
        <th>Movie name</th>
        <th>Average Score</th>
      </tr>
      <% @search_results.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie_path(movie.id) %></td>
        <td>Vote average: <%= movie.vote_average %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
