<div class="row">
  <div class="col d-flex justify-content-center">
    <%= form_with(url: users_path, method: :post, local: true) do |f| %>
      <table class="table">
        <tr>
          <th>
            <%= f.label :name, 'Name' %>
          </th>
          <td>
            <%= f.text_field :name %><br>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :email, 'Email' %>
          </th>
          <td>
            <%= f.text_field :email %><br>
          </td>
        </tr>
             <tr>
          <th>
            <%= f.label :password, 'Password' %>
          </th>
          <td>
            <%= f.text_field :password %><br>
          </td>
        </tr>
             <tr>
          <th>
            <%= f.label :password_confirmation, 'Confirm Password' %>
          </th>
          <td>
            <%= f.text_field :password_confirmation %><br>
          </td>
        </tr>
      </table>
      <%= f.submit 'Register' %>
    <% end %>
  </div>
</div>
